.cartContainer {
    position: relative;
    cursor: pointer;
    align-self: flex-end;
}
  
.cartQuantity {
    background-color: #0dcaf0;
    height: 22px;
    width: 22px;
    border-radius: 50%;
    text-align: center;
    border: 1px solid;
    position: absolute;
    top: -14px;
    right: -10px;
    font-size: 12px;
}